<div class="home">

<h1> Welcome to the Book Tour </h1>
<p>Browse our cultivated selection of attractive travel destinations and curated reading lists to accompany you on your journey</p>
<%=  link_to 'Create User', new_user_path %><br>
<%= link_to 'Log in', 'login' %><br>

<!-- <p><i>“The world is a book
<br />and those who do not travel
<br />read only one page.” </i></p> <p>-St. Augustine</p> -->

</div>

<footer>

</footer>
