<!DOCTYPE html>
<html class="bg-img-home">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>The Book Tour</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.4-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
    <%= stylesheet_link_tag    'stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Welcome To The Book Tour!
                        </h1>
                        <h2 class="subtitle">
                            Browse our cultivated selection of attractive travel destinations and curated reading lists to accompany you on your journey
                        </h2>
                        <div class="box2">
                            <div class="field is-grouped">

                                <p class="column is-centered has-background-light">
                                    <%=  link_to 'Create User', new_user_path %><br>
                                    <%= link_to 'Log in', 'login' %><br>

                                </p>
                            </div>
                        </div>
                    </div>
 </div>

</body>
</html>
