<h1>Information About <%= @destination.name %></h1>

<ul>
  <li><%= @destination.country %></li>
  <li><%= @destination.continent %></li>
  <li><%= @destination.description %></li>
</ul>

<%# list of connected reviews and books %>
