body {
  font-family: sans-serif;
}

.center, .center-column, .top, .right, .bottom, .left {
  display: flex;
  flex_direction: row;
  justify-content: center;
  align-items: center;
}


/* ////////////////////////// HOME PAGE //////////////////////////// */

/* .home {
  background-image: url("world_map.jpg");
  background-position: center;
  background-size: cover;
  padding: 14px 16px;
  text-align: center;
}

.home a {
  text-decoration: none;

}

.home a:visited {
  color: black;
}

.home a:hover {
  background-color: gray;
} */

#bg-img {
  background: url("world_map.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* ///////////////////////HEADER ///////////////////////////// */

header {
  background-color: blue;
  background-image: url("header.jpg");
  text-align: center;
  background-position: center;
  background-size: cover;
  height: 100px;
  opacity: 0.7;
}



/* //////////////////////////NAV BAR  //////////////////////////// */

/* .active {
  background-color: #4CAF50;
} */





/* nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
  font-family: sans-serif;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* nav li a:hover {
  background-color: #111;
} */
